* {
  margin: 0;
  padding: 0;
}

html{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.flex-content{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

header{
  height: 30rem;
  width: 100%;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav{
  background-color: cadetblue;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

.nav-small{
  display: none;
}

nav div ul li{
  padding: 1rem 2rem;
  display: inline-flex;
}

nav div ul li a, nav div a{
  text-decoration: none;
  color: white;
}

nav div ul li a:hover, nav div a:hover{
  color: black;
}

nav div a img{
  display: inline-flex;
  height: 1.5rem;
  width: auto;
  padding: 0 1rem 0 2rem;
}

header div{
  justify-content: flex-end;
}

.banner-head{
  padding: 1.5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
}

.banner-head h1{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.2;
}

.gallery{
  justify-content: center;
}

.gallery-item{
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.gallery-flex-content, .about-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.gallery-item img{
  margin-bottom: 1rem;
  height: auto;
}

.narrow{
  width: 3.5rem;
}

.wide{
  width: 5rem;
}

.about{
  justify-content: center;
  margin-bottom: 5rem;
}

.about-item{
  width: 35%;
}

.about-item:first-child{
  margin-right: 5%;
}

.about-title{
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
  padding: .5rem 0 .5rem 1.25rem;
  margin-bottom: 1rem;
}

footer div, .footer-small{
  background-color: azure;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

footer div a{
  padding: 4rem 0 4rem 4rem;
  color: black;
  text-decoration: none;
}

footer div a:hover{
  color: grey;
}

footer div a img{
  display: inline-block;
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

.footer-small{
  display: none;
}

.contentwrapper{
  min-width: 420px;
}

@media only screen and (min-width: 1024px) {
  .contentwrapper{
    max-width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {

  .contentwrapper{
    width: 100%;
  }

  header{
    height: 22rem;
  }

  nav{
    position: static;
    width: 100%;
  }

  .banner-head{
    margin: 5rem 2rem 0 0;
    padding: .75rem 4rem;
  }

  .banner-head h1{
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 730px){

  header{
    height: 17rem;
    background-position: 20%;
  }

  .nav-small{
    display: block;
  }

  .nav-big{
    display: none;
  }

  .banner-head{
    width: 100%;
    margin: 9rem 0 0 0;
    text-align: center;
  }

  .banner-head h1{
    padding: .33rem 0;
    font-size: 1rem;
  }

  .gallery{
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    width: 100%;
  }

  .gallery-item{
    margin: .79rem 0;
    justify-content: flex-start;
  }

  .description{
    font-size: .77rem;
  }

  .about{
    margin: 0;
  }

  .about-item{
    width: 100%;
    margin: 0;
  }

  .about-item:first-child{
    width: 100%;
    margin: 4rem 0 0 0;
  }

  .about-title{
    margin: 0;
    width: 100%;
  }

  .about-description{
    font-size: .77rem;
    margin: 1rem 0 0 0;
    padding: .5rem 0 .5rem 1.25rem;
  }

  .footer-big{
    display: none;
  }

  .footer-small{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }

  .footer-small img {
    height: 1rem;
    width: auto;
    display: block;
  }
}
